*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
}
html,body{
    height: 100%;
    width: 100%;
    background-color: rgb(68, 116, 211)
}
.container h1{
   color: rgb(1, 0, 5);
   margin: 6px;
   margin-left: px;
   font-size: 30px;
}
.container p{
    color: rgb(2, 1, 10);
    font-size: 20px;
}
.nav {
    background-color: rgb(46, 41, 187);
    width: 30%;
    border-radius: 15px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    font-size: medium;
    align-items: center;
    padding: 30px; /* Padding for inner spacing */
    margin: 10px auto; /* Centering the navbar horizontally with margin */
}

.nav a {
    color: rgb(3, 1, 7);
    text-decoration: none;
    padding: 10px 15px; /* Padding inside each link */
    border-radius: 15px;
    text-align: center;
}

.nav a:hover {
    background-color: rgb(68, 27, 216);
    color: rgb(18, 18, 232);
    border-radius: 15px;
}

button {
    background-color: rgb(205, 203, 215);
    color: rgb(8, 2, 2);
    border: none;
    padding: 10px 15px;
    border-radius: 15px;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
}

button:hover {
    background-color: rgb(5, 4, 4);
}
.container img{
    float:right;
    height: 30%;
    width: 30%;
    border-radius: 15px;
    margin-right: 6px;
}